[user]
    name = Timo Kramer
    signingkey = 8D18DC61069781F6
[push]
    autoSetupRemote = true
[pull]
    rebase = true
[core]
    excludesfile = ~/.gitignore
    eol = lf
    autocrlf = false
[alias]
    s = status
    l = "--graph --oneline --pretty=\"format:%h %G? %aN  %s\"'"
    f = "fetch --all"
    d = diff
    c = "commit -S"
[gpg]
    program = gpg
[commit]
    gpgsign = true
