.DS_Store
.vim/.netrwhist
.vim/bundle/
.config/nvim/plugged/
.config/nvim/.netrwhist
.vim/plugged/
.vim/undodir/
# vim clojure
.classpath
.project
.settings/
.lein/repl-history
.lein/self-installs/
.clojure/.lsp/sqlite.db
.clojure/.cpcache/
dv3.sh
tst.sh
.lsp/
