plugged/
nvim/.config/nvim/plugin/packer_compiled.lua
clojure/.clojure/.clj-kondo/
clojure/.clojure/.cpcache/
clojure/.clojure/.lsp/
zsh/.zsh/completions/
niri/.config/niri/dms/profiles/
niri/.config/niri/dms/outputs.kdl
